<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/main.css">
        <script type="text/javascript" src="/static/script.js"></script>
    </head>
    <body>
        <div id="banner"><h1>Sign language detector</h1></div>
        <div id="link" style="height: 0px;width: 0px;overflow:hidden;">
            <a href="{{ url_for('upload') }}"></a>
            <canvas id="canvas" class="canvas"  width="320" height="240" style="height: 0px; width: 0px; overflow:hidden"></canvas>
            <audio id="A" src="static/abc/A.wav"></audio>
            <audio id="B" src="static/abc/B.wav"></audio>
            <audio id="C" src="static/abc/C.wav"></audio>
            <audio id="D" src="static/abc/D.wav"></audio>
            <audio id="E" src="static/abc/E.wav"></audio>
            <audio id="F" src="static/abc/F.wav"></audio>
            <audio id="G" src="static/abc/G.wav"></audio>
            <audio id="H" src="static/abc/H.wav"></audio>
            <audio id="I" src="static/abc/I.wav"></audio>
            <audio id="J" src="static/abc/J.wav"></audio>
            <audio id="K" src="static/abc/K.wav"></audio>
            <audio id="L" src="static/abc/L.wav"></audio>
            <audio id="M" src="static/abc/M.wav"></audio>
            <audio id="N" src="static/abc/N.wav"></audio>
            <audio id="O" src="static/abc/O.wav"></audio>
            <audio id="P" src="static/abc/P.wav"></audio>
            <audio id="Q" src="static/abc/Q.wav"></audio>
            <audio id="R" src="static/abc/R.wav"></audio>
            <audio id="S" src="static/abc/S.wav"></audio>
            <audio id="T" src="static/abc/T.wav"></audio>
            <audio id="U" src="static/abc/U.wav"></audio>
            <audio id="V" src="static/abc/V.wav"></audio>
            <audio id="W" src="static/abc/W.wav"></audio>
            <audio id="Y" src="static/abc/Y.wav"></audio>
            <audio id="X" src="static/abc/X.wav"></audio>
            <audio id="Z" src="static/abc/Z.wav"></audio>
        </div>    
        <div id="container">
            <video id="video" class="video" width="640" height="480" autoplay></video> 
            <canvas id="overlay" class="overlay" width="640" height="480"></canvas>     
        </div>
    </body>
</html> 
